@page
@model Assignment4.Pages.PurchaseModel
@{
}

<h2>Your Cart</h2>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Book</th><th>Quantity</th><th>Price</th><th>Subtotal</th><th>Remove?</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-left">@line.Book.Title</td>
                <td class="text-center">@line.Quantity</td>
                <td class="text-right">@line.Book.Price.ToString("c")</td>
                <td class="text-right">@((line.Quantity * line.Book.Price).ToString("c"))</td>
                <td>
                    <form id="@line.Book.BookId" asp-page-handler="Remove" method="post">
                        
                        <input type="hidden" name="BookID" value="@line.Book.BookId" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn-warning btn-sm pull-right" style="float:right">
                            Remove
                        </button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total</td>
            <td class="text-right">@Model.Cart.ComputeTotalSum().ToString("c")</td>
        </tr>
    </tfoot>
    
</table>
<div class="text-center">
    <a class="btn btn-warning" href="@Model.ReturnUrl">Continue Shopping</a>
   
</div>